.custom-article {
    margin-bottom: 20px;
}
.page_blog_section_wrapper .read_more_btn {
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
}
.page_blog_section_wrapper h4 a {
    font-size: 20px;
}
.page_blog_section_wrapper h4 a {
    font-size: 20px;
    padding: 20px 0px;
}
/* .single_blog_details img {
 min-width: 80%;
 text-align: center;   
} */
 a.navbar-brand img {
    width: 80% !important;
}
a.footer_logo img {
    width: 80% !important;
}
.single_fetures_part .single_fetures_icon {
  max-width: 85%;
}
.single_program_list .single_program_list_content {
    padding: 9px;
}
.footer_section {
        padding: 58px 0 0 0;
}
.footer_section .copyright_part p {
    margin-bottom: 30px;
}
.single_team_section .teacher_category {
    background-color: #0DA2FF;
}
.fav-article{
    color: #003552;
    font-weight: bold;
    font-style: italic;
}
.fa-color {
    color: #f00;
}
.blog_details_content img {
    min-width: 65%;
    height: 458px;
}
