.alert {
  margin-bottom: 10px;
}
h1 {
  font-size: 55px;
  margin: 40px 0;
  font-weight: bold;
  color: #666;
}
.input-container {
  position: relative;
}
.asterisk {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 7px;
  color: #D20707;
}
.main-form .asterisk {
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 8px;
  color: #D20707;
}
.nice-message {
  padding: 10px;
  background-color: #fff;
  margin: 10px 0;
  border-left: 5px solid #080;
}
input[type=file]{
  background-color: transparent;
  border: none;
  max-width: 50%;
}
/* Start Login Page */
.login-page form,
.the-errors {
  max-width: 380px;
  margin: auto;
}
.login-page form input {
  margin-bottom: 10px;
}
.login-page .blue.selected {
  color:#007bff;
}
.login-page [data-class="signup"].selected {
  color: #5cb85c;
}
.login-page h1 {
  font-size: 55px;
  margin: 40px 0;
  font-weight: bold;
  color: #fff;
  background-color: #3f51b5;
}
.login-page h1 span {
  cursor: pointer;
}
.login-page .signup {
  display: none;
}
.the-errors .msg {
  padding: 10px;
  text-align: left;
  background-color: #FFF;
  margin-bottom: 8px;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  color: #919191;
}
.the-errors .error {
  border-left: 5px solid #cd6858;
}
.the-errors .success {
  border-left: 5px solid #5cb85c;
}
.login-page {
    padding: 30px 0;
    background-color: #32355d;
    width: 50%;
    margin-bottom: 30px;
    border-radius: 50px;
}

/* End Login Page */